{% extends 'templates/empty.html' %}

{% block appcontent %}
    <div class="login-container">
        <h1 class="text-center">LOG IN</h1>
        <form action="" @submit.prevent="login">
            <div class="form-group">
              <label for="login">Login</label>
              <input type="text" v-model="user.login" class="form-control" id="login" placeholder="Login">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" v-model="user.password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
{% endblock %}